<div ng-hide="isProcessing">
	<h3><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Launch desktop</h3>
	<div class="alert alert-danger" role="alert" ng-show="error"><strong>Job rejected</strong> please check resources and try again
	</div>
	<div>Time required (HH:MM):
		<input type="text" placeholder="HH" size="3" ng-model="job.hours" ng-change="job.hours = fmtTimeHrs(job.hours)" /> :
		<input type="text" placeholder="MM" size="3" ng-model="job.minutes" ng-change="job.minutes = fmtTimeMins(job.minutes)" />
	</div>
	<div>Nodes required: <input type="text" size="3" ng-model="job.nodes" ng-change="job.nodes = parseInt(job.nodes)" /></div>
	<div>Processors per node required: <input type="text" size="3" ng-model="job.ppn" ng-change="job.ppn = parseInt(job.ppn)" /></div>
	<div>Node type:
		<select ng-model="job.queue" ng-init="job.queue = 'batch'">
			<option value="batch">CVL Default</option>
			<option value="compute">CVL Large Node</option>
			<option value="vis">CVL Vis Node</option>
			<option value="huygens">CVL Huygens</option>
		</select>
	</div>
	<div class="flow-container" style="height: 30px;">
		<div class="pull-left"><button type="button" class="btn btn-success" ng-click="launch(job)">Launch</button></div>
		<div class="pull-right"><button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button></div>
	</div>
</div>

<div ng-show="isProcessing">
	<img src="images/ajax-loader.gif" /> Launching desktop... Please wait.
</div>