<div ng-hide="isProcessing">
	<h3><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Are you sure?</h3>
	<p>This action cannot be undone. Please click "Confirm" if you want to terminate this job, or "Cancel" to abort the operation.</p>
	<div class="flow-container" style="height: 30px;">
		<div class="pull-left"><button type="button" class="btn btn-danger" ng-click="confirm()">Confirm</button></div>
		<div class="pull-right"><button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button></div>
	</div>
</div>
<div ng-show="isProcessing">
	<img src="images/ajax-loader.gif" /> Terminating job... Please wait.
</div>