/* app css stylesheet */

.view-container > md-content.md-default-theme {
  background-color: #f6f6f6;
}

.user-details {
  font-size: small;
}

.facility-heading {
  font-size: large;
}

.feedback-btn {
  top: 0px;
  bottom: auto;
}